<div class="container is-fluid">
   <div class="columns">
      <div class="column is-2 is-12-mobile has-text-white has-text-centered-mobile">
         <a href="https://bulma.io">
            <img id="made-with-bulma" alt="Made with Bulma" width="256" height="48">
         </a>
      </div>
      <div class="column is-8 is-12-mobile">
         <div class="has-text-centered has-text-white">
            <p><strong class="has-text-white">OZB</strong> by <a href="https://www.google.com">Marshmellow</a>-©2019.</p>
            <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                  href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
            <p>Image by <a
                  href="https://pixabay.com/users/Walkerssk-1409366/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1836415">Walkerssk</a>
               from <a
                  href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1836415">Pixabay</a>
            </p>
         </div>
      </div>
      <div class="column is-2 is-12-mobile has-text-centered-mobile social">
         <div class="buttons social__group">
            <a class="button is-facebook" href="#">
               <span class="icon is-medium has-text-white">
                  <i class="fab fa-facebook-f"></i>
               </span>
            </a>
            <a class="button is-twitter" href="#">
               <span class="icon is-medium has-text-white">
                  <i class="fab fa-twitter"></i>
               </span>
            </a>
            <a class="button is-youtube" href="#">
               <span class="icon is-medium has-text-white">
                  <i class="fab fa-youtube"></i>
               </span>
            </a>
         </div>
      </div>
   </div>
</div>