
   <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container is-fluid">
         <div class="navbar-brand">
            <a class="navbar-item" href="/"><img id="logo"></a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarMenu">
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
               <span aria-hidden="true"></span>
            </a>
         </div>

         <div id="navbarMenu" class="navbar-menu has-background-primary has-text-white">
            <ul class="navbar-end">
               <a href="/" class="navbar-item is-block-mobile"><span class="icon"><i class="fas fa-home"></i></span><span>About</span></a>
            
               <a href="work.html" class="navbar-item is-block-mobile"><span class="icon"><i class="fas fa-briefcase"></i></span><span>Work</span></a>
            
               <a href="social.html" class="navbar-item is-block-mobile"><span class="icon"><i class="fas fa-hands-helping"></i></span> <span>Social Work</span></a>
            
               <a href="notes.html" class="navbar-item is-block-mobile"><span class="icon"><i class="fas fa-sticky-note"></i></span><span>Notes</span></a>
               
               <a href="contact.html#form" class="navbar-item is-block-mobile"><span class="icon"><i class="fas fa-address-book"></i></span><span>Contact Me</span></a>
            </ul>
         </div>
      </div>
   </nav>
